/* HEADER */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  padding: 1rem;
  background-color: lightblue;
}

#header input {
  width: 30%;
  height: 35px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
}


/* FORM */
form {
  margin: 30px;
  width: 100%;
}

form h2 {
  margin: 0;
}

form input {
  height: 35px;
  width: 35%;
  border: 2px solid yellowgreen;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
}

form button {
  height: 40px;
  width: 10%;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  background-color: yellowgreen;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: green;
}


/* FRUIT LIST */
ul {
  list-style-type: none;
  background-color: pink;
  padding: 10px;
  margin: 0 30px;
  width: 50%;
  border-radius: 5px;
}


/* EACH FRUIT ITEM */
li {
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: lightyellow;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* DESCRIPTION */
li p {
  margin: 5px 0;
  font-size: 15px;
  font-style: italic;
  color: gray;
}


/* DELETE BUTTON */
.delete-btn {
  align-self: flex-end;
  background-color: tomato;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

.delete-btn:hover {
  background-color: darkred;
}


/* EDIT BUTTON */
.edit-btn {
  align-self: flex-end;
  background-color: lightblue;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 5px;
}

.edit-btn:hover {
  background-color: deepskyblue;
}
